@model Department

@{
    ViewData["TitlePhrase"]="Add Department";
}

<<h2>Are you sure to delete the following?</h2>

<hr><hr>

<ul class="list-group">
<li class="list-group-item">Name: @Model.Name</li>
<li class="list-group-item">Code: @Model.Code</li>
<li class="list-group-item">Description: @Model.Description</li>
<li class="list-group-item">StartDate: @Model.StartDate</li>
</ul>
 <input type="hidden" asp-for="Id">
<form asp-controller="Department" asp-action="Delete" method="POST">
 <input type="hidden" asp-for="Id"/>
  <button class="btn btn-danger">Delete Anyway</button>  
</form>
