@model Person

@{
    ViewData["TitlePhrase"]="Add Employee";
}

<h3> Edit Detail</h3>
<hr><hr>

<form asp-controller="Employee" asp-action="Edit" method="POST">
  <input type="hidden" asp-for="Id">
  <div class="form-group">
    <label asp-for="FirstName"></label>
    <span asp-validation-for="FirstName"></span>
    <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
  </div>
      <div class="form-group">
    <label asp-for="SurName"></label>
    <span asp-validation-for="SurName"></span>

    <input type="text" class="form-control" asp-for="SurName" placeholder="Enter Sur Name">
  </div>
   <div class="form-group">
    <label asp-for="Address"></label>
    <textarea class="form-control" asp-for="Address" placeholder="Enter Address"></textarea>
  </div>
   <div class="form-group">
    <label asp-for="Gender"></label>
    <input type="text" class="form-control" asp-for="Gender" placeholder="Enter Gender">
  </div>
   <div class="form-group">
    <label asp-for="Salary"></label>
    <input type="number" class="form-control" asp-for="Salary" placeholder="Enter Amount">
  </div>
  <button type="submit" class="btn btn-warning">Update Employee </button>
</form>